<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
  </head>
  <body>
    <p>Hey <b>
      {% if user.username %}
        {{ user.username }}
      {% else %}
        User
      {% endif %}
      </b>,<br>Welcome to Dashboard</p>
    <div>
      <button type="button"><a href="/logout"><b>LOGOUT</b></a></button>
    </div>
  </body>
</html>