<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in</title>
  </head>
  <body align='center'>
    <h3>Sign in Page</h3>
    <form action="/signin" method="POST">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages%}
      {% for category, message in messages %}
      <div> <h6>{{message}} <button type="button" class="btn-close">x</button></h6>
      </div>
          
      {% endfor %}
      {% endif %}
      {% endwith %}
      {{ form.hidden_tag() }}
      <div style="padding: 6px;">{{ form.email }}</div>
      <div style="padding: 6px;">{{ form.password }}</div>
      <div style="padding: 6px;"> {{ form.submit }}</div>
    </form>
    <div style="padding: 8px;">
      Don't have an account ? <button type="button"><a href="/signup"><strong>SIGN UP</strong></a></button>
    </div>
  </body>
</html>